{% extends 'base.html' %}


{%  block title%}
Страница про нас
{% endblock %}

{% block body %}
<div class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h2 class="display-4">Писать код будет полезно и дизайнеру, и сантехнику.</h2>
  <p class="lead">
<p>Проект «Первый блог» создан с целью коллекционирования наиболее интересных материалов из различных сфер деятельности.
Мы не преследуем цель незаконного распространения материалов.</p>
        </div>
{% endblock %}